---
layout: default
---

<h1>{{ page.title }}</h1>

<p><img src="{{ page.image | relative_url }}" alt="{{ page.imagealt }}" class="project-image" /></p>

## Purpose
Statics and Mechanics of Materials Project

## Problem Statement
Given a 2D design space of 150cm long and 50cm tall, rigid bar of a fixed length, 3 pin supports of which two need to be mounted on the ground and a linear actuator. We were challenged to find the configuration to lift the maximum possible weight to the highest possible height.

## Approach
[Your content here]

## Results
[Your content here]

<a href={{ "/projects/" | relative_url }} class="back-arrow">
    <i class="bi bi-arrow-left-circle-fill"></i> Back to Projects
</a>
